<a href="https://colab.research.google.com/github/sneha-g2000/Python-Workshop/blob/master/Day3_Session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python Program to Print Multiplication Table of a number which got through keyboard

In [1]:
a=[]
n=int(input("enter the value of n"))
for i in range(1,11):
  b=i*n
  a.append(str(b))
print(','.join(a))

enter the value of n4
4,8,12,16,20,24,28,32,36,40

Write a Python Program to find the Armstrong Numbers between 1 and 2000

In [2]:
a=[]
for i in range(1,2001):
 temp=i
 d=0
 l=0
 s=0
 while(temp>0):
  temp=temp//10
  d=d+1
 temp=i
 while(temp>0):
  l=temp%10
  s=s+l**d
  temp=temp//10
 if(s==i):
  a.append(str(i))
print(a)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '153', '370', '371', '407', '1634']

Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders

In [3]:
a=[]
def inp():
  rolno=input("enter the rolno")
  name=input("enter the name")
  return(rolno,name)
n=int(input("Enter the value of n"))
for i in range(1,n+1):
  a.append(inp())
print(a)
a.sort(key=lambda i:i[0])
print(f'According to Rollno:Ascending order:{a}')
print(f'According to Rollno:Descending order:{a[::-1]}')
a.sort(key=lambda i:i[1])
print(f'According to Name:Alphabeticallyorder:{a}')
print(f'According to Name:Dealphabetically order:{a[::-1]}')

Enter the value of n5
enter the rolno45
enter the namerama
enter the rolno35
enter the nameraja
enter the rolno46
enter the nameravi
enter the rolno56
enter the namepooja
enter the rolno42
enter the namekeerthi
[('45', 'rama'), ('35', 'raja'), ('46', 'ravi'), ('56', 'pooja'), ('42', 'keerthi')]
According to Rollno:Ascending order:[('35', 'raja'), ('42', 'keerthi'), ('45', 'rama'), ('46', 'ravi'), ('56', 'pooja')]
According to Rollno:Descending order:[('56', 'pooja'), ('46', 'ravi'), ('45', 'rama'), ('42', 'keerthi'), ('35', 'raja')]
According to Name:Alphabeticallyorder:[('42', 'keerthi'), ('56', 'pooja'), ('35', 'raja'), ('45', 'rama'), ('46', 'ravi')]
According to Name:Dealphabetically order:[('46', 'ravi'), ('45', 'rama'), ('35', 'raja'), ('56', 'pooja'), ('42', 'keerthi')]


Python Program to Detect if Two Strings are Anagrams ( They are the two strings which have same length and same words which may be different in their order)

In [4]:
s=input("Enter the first string")
s2=input("Enter the second string")
if(sorted(s)==sorted(s2)):
  print("Strings are anagram")
else:
  print("strings arent anagram")

Enter the first stringanagram
Enter the second stringanagram
Strings are anagram