<a href="https://colab.research.google.com/github/sneha-g2000/Python-Workshop/blob/master/Day_1_session_2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Write a program to print the triangle 
i/p  4

1
2    3
3    4   5
4    5   6   7

In [1]:
n=4;
for i in range(5):
  k=i
  for j in range(k):
      print (k, end=" ")
      k=k+1
  print('')

1
2 3
3 4 5
4 5 6 7

2 Enter number 4

*
* *
* * *
* * * *

In [2]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *

3 Enter number 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [3]:
n=5;
for i in range(n,0,-1):
  for j in range(i,n+1):
      print (j, end=' ')
  print('')

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

4)  Enter number 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [4]:
n=5
for i in range(0,n+1):
  for j in range(n-i,0,-1):
      print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

5) Enter number 4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [5]:
n=4
for i in range(0,n+1,1):
  for j in range(i+1,n+1,1):
    print(j,end=' ')
  print()
for i in range(4,n-3,-1):
  for j in range(i-1,n+1,1):
    print(j,end=' ')
  print()

1 2 3 4
2 3 4
3 4
4

3 4
2 3 4
1 2 3 4

6) Find the length of a string without using len functions

In [6]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: school
Length of the input string is: 6

7) Find the no of words and characters in a string

In [7]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string: i am in class
Number of words in the string:
5
Number of characters in the string:
14

8) Find the no of occurrences of a word in a string

In [8]:
def countOccurences(str, word): 
    a = str.split(" ") 
    count = 0
    for i in range(0, len(a)):  
        if (word == a[i]): 
           count = count + 1
             
    return count        
str =input("Enter the String")
word =input("Enter the word")
print(countOccurences(str, word))

Enter the Stringgeeks for geeks
Enter the wordgeeks
2